.ShelterCard{
    width: 324px;
    height: auto;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 25px;
    padding: 3px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 


    img{
        width: 100%;
        height: 50%;
        object-fit: cover;
    }

    .info{
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        .user{
            display: flex;
            align-items: center;
            gap: 10px;

            img{
                width: 28px;
                height: 28px;
                border-radius: 50%;
            }

            p{
                color: #111;
            }
            span{
                font-weight:300;
            }

            
        }

        p{
            font-weight: 400;
            color: #111;
        }

        .star{
            display: flex;
            align-items: center;
            gap: 5px;

            img{
                width: 14px;
                height: 14px;
            }

            span{
                font-size: 14px;
                font-weight: bold;
                color: #212121;
            }
        }
    }

    hr{
        height: 0;
        border: 0.5px solid lightgray;

    }

    .details{
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        img{
            width: 16px;
            height: 16px;
            cursor: pointer;
        }

        .price{
            span{
                color:#999;
                font-size: 12px;
            }

            h2{
                color: #555;
                font-size: 18px;
                font-weight: 400;
            }
        }
    }
}