version: "3.8"

services:
  mongodb:
    image: mongo:latest
    container_name: revive_mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - app_network

  backend:
    build: ./backend
    container_name: revive_backend
    ports:
      - "8800:8800"
    environment:
      - MONGO=mongodb+srv://vishaal19:master19@cluster0.l7uzj3v.mongodb.net/?retryWrites=true&w=majority&dbname=gdsconey
      - JWT_KEY=vishaalmongo19masterleodas
      - VITE_UPLOAD_LINK="https://api.cloudinary.com/v1_1/dgrvwggvr/upload"
      - REACT_APP_GEMINI_API_KEY='AIzaSyC2SyJOubllAJmEFaDvJ-rnDwKJYEUY5os'
    depends_on:
      - mongodb
    networks:
      - app_network

  frontend:
    build: ./frontend
    container_name: revive_frontend
    ports:
      - "5174:5173" # Mapping host 5174 to container 5173 to match backend CORS
    environment:
      - VITE_API_URL=http://localhost:8800/api
    depends_on:
      - backend
    networks:
      - app_network

volumes:
  mongo_data:

networks:
  app_network:
    driver: bridge
